<div class="col-xs-5">
    <table class="table">
        <thead>
        <tr>
            <th style="width : 150px;">Información</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Modelo del Vehiculo : </b></td>
            <td><input ng-model="dataType.carMarker" type="text" class="form-control"
                       value="{{dataType.carMarker}}"/></td>
        </tr>
        <tr>
            <td><b>Color</b></td>
            <td><input ng-model="dataType.color" type="text" class="form-control"
                       value="{{dataType.color}}"/></td>
        </tr>
        <tr>
            <td><b>Número de Asientos</b></td>
            <td><input ng-model="dataType.seatNum" type="text" class="form-control"
                       value="{{dataType.seatNum}}"/></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="col-xs-7 detail-hr">
    <table class="table">
        <thead>
        <tr>
            <th style="width : 150px;">Lista de precios</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Precio del Kilometro 0 al kilometro inicial </b></td>
            <td><input required ng-model="dataType.firstKm" type="text" class="form-control"
                       value="{{dataType.firstKm}}"/></td>
        </tr>
        <tr>
            <td><b>Precio Inicial :</b></td>
            <td><input required ng-model="dataType.firstPrice" type="text" class="form-control"
                       value="{{dataType.firstPrice}}"/></td>
        </tr>

        <tr>
            <td><b>Precio a partir del {{dataType.firstKm}} Km : </b></td>
            <td><input required ng-model="dataType.middleKm" type="text" class="form-control"
                       value="{{dataType.middleKm}}"/></td>
        </tr>
        <tr>
            <td><b>Precio a partir del segundo Km: </b></td>
            <td><input required ng-model="dataType.middlePrice" type="text" class="form-control"
                       value="{{dataType.middlePrice}}"/></td>
        </tr>
        <tr>
            <td><b>Precio de KM final</b></td>
            <td> {{dataType.middleKm}}</td>
        </tr>
        <tr>
            <td><b>Precio final</b></td>
            <td><input required ng-model="dataType.lastPrice" type="text" class="form-control"
                       value="{{dataType.lastPrice}}"/></td>
        </tr>


        </tbody>
    </table>
</div>
<div class="col-xs-12" class="text-center">
    <div class="pull-left">
        <button ng-click="createDriverType(dataType)" type="button" class="btn btn-success"><i
                class="glyphicon glyphicon-edit"></i> Nuevo
        </button>
        <button type="button" class="btn btn-primary" ng-click="back()"><i
                class="glyphicon glyphicon-lock"></i> Cancelar
        </button>
    </div>
</div>
<style>
    .detail-hr tr td {
        width: 180px !important;
    }
</style>